# Exemplo de configuração -> renomeie para .env (substituindo a original) e preencha com os segredos/senhas
SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=